# Virtual Environments
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Secrets
.env
*.env

# dbt Artifacts & Logs
target/
dbt_packages/
logs/
*.log

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
